@font-face{
  font-family: "Manrope";
  src: url(Manrope-VariableFont_wght.ttf);
}

html {
  scroll-behavior: smooth;

}


body {
  font-family: "Manrope";
  color: #353A3F;
  background-color: #f8f8f8;
  overflow-x: hidden;
}

/* Padding */
.layout_padding {
  padding: 90px 0;
}

.layout_padding2 {
  padding: 75px 0;
}

.layout_padding2-top {
  padding-top: 75px;
}

.layout_padding2-bottom {
  padding-bottom: 75px;
}

.layout_padding-top {
  padding-top: 90px;
}

.layout_padding-bottom {
  padding-bottom: 90px;
}

/* Basic */
.heading_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.heading_container h2 {
  position: relative;
  font-weight: bold;
  margin: 0;
}

.heading_container.heading_center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.heading_container p {
  margin-top: 10px;
  margin-bottom: 0;
}

.container_border_style {
  position: relative;
  padding: 20px;
}

.container_border_style::before, .container_border_style::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 3px;
  height: 90px;
  background-color: #03a7d3;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.container_border_style::before {
  left: 0;
}

.container_border_style::after {
  right: 0;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

/* Nav section*/
.top {
  position: relative;
  background-image: linear-gradient(#29C4F5, #C7E0E8);
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sub_page .top {
  min-height: auto;
}

.header_section .container-fluid {
  padding-right: 25px;
  padding-left: 25px;
}

.navbar-brand span {
  font-weight: bold;
  color: #ffffff;
  font-size: 24px;
  text-transform: uppercase;
}

.custom_nav-container {
  padding: 10px 0;
}

.custom_nav-container .navbar-nav .nav-item .nav-link {
  padding: 3px 15px;
  margin: 10px 15px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
}

.custom_nav-container .nav_search-btn {
  width: 35px;
  height: 35px;
  padding: 0;
  border: none;
  color: #ffffff;
  margin: 0 20px;
}

.custom_nav-container .navbar-toggler {
  outline: none;
}

.custom_nav-container .navbar-toggler {
  padding: 0;
  width: 37px;
  height: 42px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span {
  display: block;
  width: 35px;
  height: 4px;
  background-color: #ffffff;
  margin: 7px 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  border-radius: 5px;
  transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span::before, .custom_nav-container .navbar-toggler span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  top: -10px;
  border-radius: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span::after {
  top: 10px;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] span::before, .custom_nav-container .navbar-toggler[aria-expanded="true"] span::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  top: 0;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] .s-1 {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin: 0;
  margin-bottom: -4px;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] .s-2 {
  display: none;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] .s-3 {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  margin: 0;
  margin-top: -4px;
}

.custom_nav-container .navbar-toggler[aria-expanded="false"] .s-1,
.custom_nav-container .navbar-toggler[aria-expanded="false"] .s-2,
.custom_nav-container .navbar-toggler[aria-expanded="false"] .s-3 {
  -webkit-transform: none;
          transform: none;
}

/* Home section */
.home_section {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 45px;
  padding-bottom: 90px;
}

.home_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home_section #homePos {
  width: 100%;
  position: unset;
}

.home_section .detail-box {
  color: #ffffff;
}

.home_section .detail-box h1 {
  font-weight: bold;
  margin-bottom: 25px;
  font-size: 2rem;
}

.home_section .detail-box h1 span {
  font-size: 3rem;
  color: #03a7d3;
}

.home_section .detail-box .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -5px;
}

.home_section .detail-box a {
  margin: 5px;
  width: 195px;
  text-align: center;
}

.home_section .detail-box .btn-1 {
  display: inline-block;
  padding: 10px 15px;
  background-color: #03a7d3;
  color: #ffffff;
  border-radius: 5px;
  border: 1px solid #03a7d3;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.home_section .detail-box .btn-1:hover {
  background-color: transparent;
  color: #03a7d3;
}

.home_section .img-box img {
  width: 100%;
}


/* File a Fix It Section */
.file_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.file_section .img-box img {
  max-width: 80%;
  margin-left: 80px;
}

.file_section .detail-box p {
  color: #999;
  margin-top: 15px;
}

.file_section .detail-box ul {
  color: #999;
}

.file_section .detail-box a {
  display: inline-block;
  padding: 10px 45px;
  background-color: #ff4646;
  color: #ffffff;
  border-radius: 5px;
  border: 1px solid #ff4646;
  -webkit-transition: all .3s;
  transition: all .3s;
  margin-top: 15px;
}

.file_section .detail-box a:hover {
  background-color: transparent;
  color: #ff4646;
}

/* Availability Section */
.availability_section {
  position: relative;
}

.availability_section .box {
  margin-top: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 25px;
  background-color: #fafafa;
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
}

.availability_section .box:hover {
  transform: scale(1.05); /
  background-color: #fff;
}

.availability_section .box .detail-box {
  margin-top: 15px;
}

.availability_section .box .detail-box h4 {
  font-weight: bold;
  font-size: 22px;
}

.availability_section .box .detail-box a {
  color: #03a7d3;
  font-size: 20px;  
}

/* Machine Availability Buttons */
.avail {
  border: none;
  background-color: #96FF88;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.avail:hover {
  box-shadow: 0 4px 8px 0 rgba(200, 200, 200, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.inUse {
  border: none;
  background-color: #FF8285 ;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.inUse:hover {
  box-shadow: 0 4px 8px 0 rgba(200, 200, 200, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.outOfOrd {
  border: none;
  background-color: #D1D2D0;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(000, 000, 000, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.outOfOrd:hover {
  box-shadow: 0 4px 8px 0 rgba(200, 200, 200, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.quit {
  padding: 10px 20px;
  background-color: #03a7d3;
  color: #ffffff;
  border-radius: 5px;
  font-size: 18px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.quit:hover {
  box-shadow: 0 4px 8px 0 rgba(200, 200, 200, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Refund Section */
.refund_section {
  background: linear-gradient(110deg, transparent 25%, #29C4F5 25%);
  padding: 55px 0;
  color: #ffffff;
}

.refund_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.refund_section .img-box {
  position: relative;
}

.refund_section .img-box img {
  width: 70%;
}

.refund_section .detail-box a {
  display: inline-block;
  padding: 10px 45px;
  background-color: #ff4646;
  color: #ffffff;
  border-radius: 5px;
  border: 1px solid #ff4646;
  -webkit-transition: all .3s;
  transition: all .3s;
  margin-top: 25px;
}

.refund_section .detail-box a:hover {
  background-color: transparent;
  color: #ff4646;
}

/* Form */
input[type=text], input[type=file] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=file]:focus {
  background-color: #ddd;
  outline: none;
}

select {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

select:focus {
  background-color: #ddd;
  outline: none;
}

/* Footer section */
.footer_section {
  position: relative;
  background-image: linear-gradient(#C7E0E8, #29C4F5);
  text-align: center;
}

.footer_section p {
  color: #353A3F;
  padding: 20px 0;
  margin: 0;
  border-top: 1px solid #ffffff;
}

.footer_section p a {
  color: inherit;
}
